Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:5120/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:5120/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:5120/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomerByJSon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByJSon" />
  </wsdl:message>
  <wsdl:message name="IService_GetCustomerByJSon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByJSonResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCustomer" />
  </wsdl:message>
  <wsdl:message name="IService_SetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCustomer" message="tns:IService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCustomerResponse" message="tns:IService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByJSon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCustomerByJSon" message="tns:IService_GetCustomerByJSon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCustomerByJSonResponse" message="tns:IService_GetCustomerByJSon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetCustomer" message="tns:IService_SetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetCustomerResponse" message="tns:IService_SetCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPEndPoint" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCustomer">
      <soap:operation soapAction="http://tempuri.org/IService/GetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerByJSon">
      <soap:operation soapAction="http://tempuri.org/IService/GetCustomerByJSon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCustomer">
      <soap:operation soapAction="http://tempuri.org/IService/SetCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="SOAPEndPoint" binding="tns:SOAPEndPoint">
      <soap:address location="http://localhost:5120/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>